header {
    box-shadow: 0 0 2px 0 gray;
}
.bg-green {
    background-color: rgba(254, 254, 254, 0.4);
}

li {
    margin: 0 15px 0 15px;
}
nav {
    font-size: 14px;
}

button > * {
    background-color: green;
}

.btn-success {
    color: blue;
    background-color: green;
}

.col {
    padding: 20px;
    text-align: start;
}

h1.tema {
    font-size: 70px;
    color: rgb(0, 84, 88);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.bg { 
    /* The image used */
    background-image: url("./img/Vector.svg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }